@import "@styles/global/vars";

.pizzas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .pizza {
    position: relative;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    width: 300px;
    height: 320px;
    background-color: $white;
    border-radius: 8px;
    padding: 7px;
    box-shadow: 0px 4px 4px black;
    p {
      margin: 3px 0px 3px 0px;
    }
    .name {
      width: 100%;
      font-size: 2rem;
      margin-top: 6px;
    }
    .description {
      width: 100%;
      font-size: 1.6rem;
      color: #a38585;
    }
    .price {
      font-size: 1.6rem;
      color: $dark-red;
      align-self: flex-end;
    }
    img {
      width: 100%;
      border-radius: 8px;
    }
    button {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 35px;
      height: 35px;
      font-size: 2.5rem;
      line-height: 3rem;
      font-weight: 700;
      color: $red;
      border: none;
      background-color: $yellow;
      border-radius: 50%;
    }
  }
}
